{% extends 'base.html' %}

{% block title %}Rejestracja{% endblock %}

{% block footer %}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script src="../js/showHidePassword.js"></script>

{% endblock %}

{% block body %}
	
	<div class="row vertical-center">
		<div class="main-container col-md-10 offset-md-1 my-5">
			
			<h1 class="mb-xl-4 text-center brand-logo"><img class="img-fluid" src="../img/favicon-white.ico" alt="Logo Dreamchaser"> Dreamchaser</h1>
			
				<div class="row">	
				
					<div class="welcome-message col-md-12 col-lg-6 mb-3 mb-lg-0 pt-2 px-4">
						<h2>Drogi użytkowniku,</h2><p class="welcome-text text-justify">doskonale zdaję sobie spraw z tego, jak ważne jest dla Ciebie spełnianie własnych marzeń i osiąganie zamierzonych celów. Oprócz silnej woli, którą na pewno posiadasz, wymaga to niestety często dużych nakładów finansowych. Mając tę świadomość stworzyłem dla Ciebie aplikację pomagającą zarządzać budżetem domowym, dzięki czemu będziesz w stanie zaoszczędzić pieniądze na powyższe cele bardziej efektywnie. Zarejestruj się i dołącz do szerokiego grona zadowolonych użytkowników już teraz!</p>
					</div>
					
					<form class="col-md-12 col-lg-6" method="post" action="/signup/create" id="formSignup">
							
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fas fa-user-alt"></i> </span>
							</div>
							<input type="text" class="form-control" placeholder="Imię" aria-label="imie" name="name" value="{{ user.name }}" required autofocus>
						</div>
						
						<span class="error">{{ user.errors.name }}</span>
								
						<div class="input-group mt-3">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
							</div>
							<input type="email" class="form-control" placeholder="E-mail" aria-label="email" name="email" value="{{ user.email }}" required >
						</div>
						
						<span class="error">{{ user.errors.email }}</span>
						
						<div class="input-group mt-3">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fa fa-lock"></i></span>
							</div>
							<input type="password" class="form-control" data-toggle="password" placeholder="Hasło" aria-label="hasło" id="password" name="password" required>
							<div class="input-group-append" style="cursor:pointer">
								<span class="input-group-text" onclick="myFunction('password')">
									<i id="showHideIcon" class="fa fa-eye"></i>
								</span>
							</div>
						</div>	
						
						<span class="error">{{ user.errors.password }}</span>
						
						<div class="g-recaptcha mt-3" data-sitekey="6Lf7teYUAAAAAHeQuw3vG5B7MPVp-piEqupMhieo"></div>	
						
						<span class="error">{{ user.errors.captcha }}</span>
		
						<button type="submit" class="btn btn-hover color-8 btn-lg btn-block mt-3 mb-2">Zarejestruj</button>
						Posiadasz już konto? <a href="/login/new">Zaloguj się.</a>
					</form>

				</div>
			</div>
		</div>
			

{% endblock %}
