{% extends 'base.html' %}

{% block title %}Ustawienia{% endblock %}

{% block footer %}
	<script src="../js/showHidePassword.js"></script>

	<script>
		function toggleSettingPanel(idOfButton, idOfPanel) {
				$("i", "#"+idOfButton).toggleClass("fas fa-chevron-down fas fa-chevron-up");			
				$('#'+idOfPanel).slideToggle("fast");
		}
		
		$('#editProfileModal').on('shown.bs.modal', function () {
			$('#name').focus();
		})

	</script>

{% endblock %}

{% block nav_item_5 %}active{% endblock %}

{% block body %}
	
	<div class="row">
		<div class="main-container py-2 px-4 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-5">
		
			<div class="row">	
				<div class="welcome-message mt-2 mb-2 mx-2 py-3 px-5 w-100">
				
					<div class="row">
						<div class="col-12 text-center">
							<h2 class="mb-xl-4">Ustawienia</h2>
						</div>
						<button id="settingButton1" class="btn btn-hover no-focus btn-block mt-2" onClick="toggleSettingPanel(this.id,'settingTogglePanel1')">Kategorie przychodów <i class="fas fa-chevron-down setting-icon"></i></button>

						<div id="settingTogglePanel1" class="settingTogglePanel w-100 px-2">
						
							<div class="input-group mt-2">
								<div class="input-group-prepend">
									<label class="input-group-text"><i class="fas fa-shopping-cart"></i></label>
								</div>				
								<select id="category" class="custom-select" data-live-search="true" name="incomeCategory" >
									<option value="" selected disabled>Wybierz istniejącą kategorię</option>
									{% for userIncome in userIncomes %}
										<option>{{ userIncome.name }}</option>
									{% endfor %}									
								</select>
							</div>
							
							<div class="row">
								<div class="col mb-2">
									<button class="btn btn-hover color-8 btn-sm btn-block mt-3" style="height:30px">Dodaj nową kategorię</button>
								</div>						
							</div>
							
						</div>					
				

						<button id="settingButton2" class="btn btn-hover no-focus  btn-block mt-2" onClick="toggleSettingPanel(this.id,'settingTogglePanel2')">Kategorie wydatków <i class="fas fa-chevron-down setting-icon"></i></button>
						
						<div id="settingTogglePanel2" class="settingTogglePanel w-100 px-2">
						
							<div class="input-group mt-2">
								<div class="input-group-prepend">
									<label class="input-group-text"><i class="fas fa-shopping-cart"></i></label>
								</div>				
								<select id="category" class="custom-select" data-live-search="true" name="expenseCategory">
								<option value="" selected disabled>Wybierz istniejącą kategorię</option>
								{% for userExpense in userExpenses %}
									<option>{{ userExpense.name }}</option>
								{% endfor %}
									
								</select>
							</div>
							
							<div class="row">
								<div class="col mb-2">
									<button class="btn btn-hover color-8 btn-sm btn-block mt-3" style="height:30px">Dodaj nową kategorię</button>
								</div>						
							</div>
							
						</div>
						
						<button id="settingButton3" class="btn btn-hover no-focus btn-block mt-2" onClick="toggleSettingPanel(this.id,'settingTogglePanel3')">Sposoby płatności <i class="fas fa-chevron-down setting-icon"></i></button>

						<div id="settingTogglePanel3" class="settingTogglePanel w-100 px-2">
						
							<div class="input-group mt-2">
								<div class="input-group-prepend">
								<label class="input-group-text"><i class="fas fa-money-check"></i></label>
								</div>				
								<select id="category" class="custom-select" data-live-search="true" name="paymentMethod">
								<option value="" selected disabled>Wybierz istniejącą metodę płatności</option>
								{% for paymentMethod in paymentMethods %}
									<option>{{ paymentMethod.name }}</option>
								{% endfor %}
								
								</select>
							</div>
							
							<div class="row">
								<div class="col mb-2">
									<button class="btn btn-hover color-8 btn-sm btn-block mt-3" style="height:30px">Dodaj nową kategorię</button>
								</div>						
							</div>
							
						</div>						
						
						<button id="settingButton4" class="btn btn-hover no-focus btn-block mt-2" onClick="toggleSettingPanel(this.id,'settingTogglePanel4')">Zarządzaj kontem <i class="fas fa-chevron-down  setting-icon"></i></button>
						
						<div id="settingTogglePanel4" class="settingTogglePanel w-100 px-2">
						
							<div class="row">
							
								<div class="col-6 mb-2">
									<button class="btn btn-hover no-focus btn-sm btn-block mt-2" data-toggle="modal" data-target="#editProfileModal" style="height:30px">Edytuj profil</button>
								</div>
								
								<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="edytujProfil" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 id="edytujProfil" class="modal-title">Edytuj profil</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
												  <span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form action="/settings/updateProfileData" method="post" id='editProfileForm'>
												<div class="modal-body">
												
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"> <i class="fas fa-user-alt"></i> </span>
														</div>
														<input id="name" type="text" class="form-control" placeholder="Imię" aria-label="imie" name="name" value="{{ user.name }}" required autofocus>
													</div>
													
													<div class="input-group mt-3">
														<div class="input-group-prepend">
															<span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
														</div>
														<input type="email" class="form-control" placeholder="E-mail" aria-label="email" name="email" value="{{ user.email }}" required >
													</div>												
													
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-hover color-8" >Potwierdź</button>
												</div>
											</form>
										</div>
									</div>
								</div>									
								
								<div class="col-6 mb-2">
									<button class="btn btn-hover no-focus-red btn-sm btn-block mt-2" data-toggle="modal" data-target="#deleteUserDataModal" style="height:30px">Zresetuj przychody i wydatki</button>	
								</div>
								
								<div class="modal fade" id="deleteUserDataModal" tabindex="-1" role="dialog" aria-labelledby="zresetujKonto" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 id="zresetujKonto" class="modal-title">Zresetuj przychody i wydatki</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
												  <span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form method="post" action="/settings/resetAccountTransactions">
												<div class="modal-body">
													Czy na pewno chcesz zresetować wszystkie swoje przychody i wydatki? Zmiany są nieodwracalne.
													
													<input type="hidden" name="resetAccount">
													
												</div>
												<div class="modal-footer">
													<button  class="btn btn-hover color-8">Potwierdź</button>
												</div>
											</form>
										</div>
									</div>
								</div>														
								
								
							</div>	
							
							<div class="row">
							
								<div class="col-6 mb-2">
									<button class="btn btn-hover no-focus btn-sm btn-block mt-2" data-toggle="modal" data-target="#changePasswordModal" style="height:30px">Zmień hasło</button>
								</div>
								
								<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="zmienHaslo" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 id="zmienHaslo" class="modal-title">Zmień hasło</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
												  <span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
											
												<div class="input-group mt-3">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i class="fa fa-lock"></i></span>
													</div>
													<input type="password" class="form-control" data-toggle="password" placeholder="Stare hasło" aria-label="hasło" id="oldPassword" name="oldPassword" required>

												</div>	
												
												<div class="input-group mt-3">
													<div class="input-group-prepend">
														<span class="input-group-text"> <i class="fa fa-lock"></i></span>
													</div>
													<input type="password" class="form-control" data-toggle="password" placeholder="Nowe hasło" aria-label="hasło" id="newPassword" name="newPassword" required>
													<div class="input-group-append" style="cursor:pointer">
														<span class="input-group-text" onclick="myFunction('newPassword')">
															<i id="showHideIcon" class="fa fa-eye"></i>
														</span>
													</div>
												</div>													
												
											</div>
											<div class="modal-footer">
												<button  class="btn btn-hover color-8" data-dismiss="modal">Potwierdź</button>
											</div>
										</div>
									</div>
								</div>									
								
								<div class="col-6 mb-2">
									<button class="btn btn-hover no-focus-red btn-sm btn-block mt-2" data-toggle="modal" data-target="#deleteAccountModal" style="height:30px">Usuń konto</button>	
								</div>
								
								<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="usunKonto" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 id="usunKonto" class="modal-title">Usuń konto</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
												  <span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form method="post" action="/settings/deleteAccount">
												<div class="modal-body">
													Czy na pewno chcesz usunąć swoje konto wraz ze wszystkimi danymi?
											
													<input type="hidden" name="deleteAccount">
										
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-hover color-8" >Potwierdź</button>
										
												</div>
											</form>
										</div>
									</div>
								</div>								
								
							</div>	
							
						</div>	
						
					</div>				
				</div>
			</div>
		</div>
	</div>
			

{% endblock %}
